.post-item {
    display: flex;
    flex-direction: column;
    border: 2px solid $black;
    margin: 0.5rem 0;
    padding: 0.5rem;

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    &__content-title {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

    &__content-text {
        font-size: 0.75rem;
        color: $post-text;
    }

    &__button {
        color: $post-text;
        background: transparent;
        border: 1px solid $post-text;
        border-radius: .25em;
        align-self: center;
        padding: 0.5rem 1.5rem;
        transition: border-color .25s ease-in-out, color 0.25s ease-in-out;

        &:hover {
            border-color: darken($post-text, 15%);
            color: darken($post-text, 15%);
        }

        &:focus {
            border-color: darken($post-text, 25%);
            color: darken($post-text, 25%);
        }
    }
}